/********************* FONTS **********************/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400&display=swap");
/**************************************************/
/******************* COLORS ***********************/
/**************************************************/
/******************* NORMALIZE ********************/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/**************************************************/
/**************** common styles *******************/
html {
  scroll-behavior: smooth; }

body {
  overflow: auto; }

.text-container {
  max-width: 1170px;
  margin: 0 auto;
  text-align: center;
  height: 100%; }

/**************************************************/
/**************** header section ******************/
.header-top {
  height: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.header-top-navigation__item {
  color: #333333;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: 34px;
  text-align: center;
  margin-right: 45px; }
  .header-top-navigation__item:last-child {
    margin-right: 0; }
  .header-top-navigation__item:first-child {
    margin-left: 0; }
  .header-top-navigation__item:hover {
    color: #f26522; }

/**************************************************/
/**************** header section ******************/
.get-offer {
  min-height: 858px;
  background-color: #f26522;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.get-offer-title {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 60px;
  text-align: center;
  margin-bottom: 28px; }

.get-offer-subtitle {
  margin: auto;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 28px;
  text-align: center;
  margin-bottom: 50px;
  max-width: 477px; }

.get-offer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: solid 21px #7b3512; }

.get-offer-form__input {
  color: #bdbdbd;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  padding: 24px 19px;
  width: 542px; }

.get-offer-form__button {
  width: 166px;
  color: white;
  background-color: #f26522;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 60px;
  text-align: center; }

/**************************************************/
/**************** header section ******************/
.features-title {
  color: #333333;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 20px; }

.features-nav {
  margin: auto;
  text-align: center;
  margin-bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.features-nav__dot {
  cursor: pointer; }

.features-nav__dot_active {
  margin-top: -1px;
  cursor: pointer; }

/**************************************************/
/*# sourceMappingURL=style.css.map */